<div class="container">
  <h1>User Settings</h1>

  <p>On this page, you can update your personal settings. Make the necessary changes and click the "Update" button to save.</p>

  <%= form_with(model: @user, url: update_settings_path, method: :patch, local: true) do |f| %>
    
    <hr>
    <h3>Change Your Username</h3>
    <p>Want a new identity? Change your username here.</p>
    <div class="form-group">
      <%= f.label :username %>
      <%= f.text_field :username, class: 'form-control', placeholder: 'Enter new username' %>
    </div>
    
    <hr>
    <h3>Update Your Email Address</h3>
    <p>Your email is important for account recovery and notifications.</p>
    <div class="form-group">
      <%= f.label :email %>
      <%= f.text_field :email, class: 'form-control', placeholder: 'Enter new email address' %>
    </div>

    <hr>
    <h3>Change Your Password</h3>
    <p>For security, make sure to use a strong, unique password.</p>
    <div class="form-group">
      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control', placeholder: 'Enter new password' %>
    </div>

    <div class="form-group">
      <%= f.label :password_confirmation, 'Confirm New Password' %>
      <%= f.password_field :password_confirmation, class: 'form-control', placeholder: 'Confirm new password' %>
    </div>

    <hr>
    <button type="submit" class="btn btn-primary">Update Settings</button>

  <% end %>
</div>
