<!-- app/views/layouts/application.html.erb -->
<!DOCTYPE html>
<html>
  <head>
    <title>Test App</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <!-- Link to Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <!-- Include jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <style>
      /* Add the alert-success styling here */
      .alert-success {
        background-color: #d4edda; /* Green background color */
        border-color: #c3e6cb; /* Green border color */
        color: #155724; /* Dark green text color */
      }
    </style>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <% unless current_page?(login_path) || current_page?(new_user_path) %>
        <a class="navbar-brand" href="#">test_app</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <%= link_to 'Home', root_path, class: 'nav-link' %>
            </li>
            <li class="nav-item">
              <%= link_to 'About', about_path, class: 'nav-link' %>
            </li>
            <li class="nav-item">
              <%= link_to 'Articles', articles_path, class: 'nav-link' %>
            </li>
          </ul>
        </div>
      <% end %>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <%= link_to 'Login', login_path, class: 'nav-link' %>
          </li>
          <li class="nav-item">
            <%= link_to 'Signup', new_user_path, class: 'nav-link' %>
          </li>
        </ul>
      </div>
    </nav>

    <!-- Flash message -->
    <div class="container">
      <% flash.each do |key, value| %>
        <% if key == :notice %>
          <div class="alert alert-success alert-dismissible fade show" role="alert">
            <%= value %>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        <% end %>
      <% end %>
    </div>

    <%= yield %>

    <!-- Script to fade out flash message -->
    <script>
      $(document).ready(function() {
        $(".alert").fadeTo(4000, 500).slideUp(500, function(){
          $(".alert").slideUp(500);
        });
      });
    </script>
  </body>
</html>
